
@model IList<PaymentImporter.Core.Dto.Transactions.TransactionResponseDto>
@{
    ViewData["Title"] = "Transaction list";
}

<h3>List of all transactions</h3>
<div class="text-center">
    <table class="table">
        <tr>
            <th>
                Transaction Id
            </th>
            <th>
                Amount
            </th>
            <th>
                Status
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </table>
</div>
